body {
  font-family: Georgia, serif;
  margin: auto;
  max-width: 43em;
  line-height: 1.5;
}

img[alt=logo-univ] {
  position: fixed;
  top: 0;
  left: 20px;
}

img[alt=logo-iut] {
  position: fixed;
  top: 0;
  right: 20px;
}

.logo {
  height: 50px;
}

/*Titre principal*/
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
h1 {
  margin-bottom: 0px;
}

.author {
  font-style: italic;
  margin-top: 0px;
  font-size: 13px;
  margin-bottom: 60px;
}

#title-block-header {
  text-align: center;
}

/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/


/*Table des matières*/
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
#TOC a {
  padding-left: 10px;
}

#TOC ul {
  counter-reset: toc-counter;
  list-style-type: none;
}

#TOC li {
  counter-increment: toc-counter;
}

#TOC li::before {
  content: counters(toc-counter, ".") " ";
}

#TOC a {
  text-decoration: none;
  color: black;
}

#TOC a:hover {
  text-decoration: underline;
}

/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/


/*Titres de niveaux 2-3-4*/
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
h2::before {
  content: counters(h2-counter, ".") " ";
  padding-right: 10px;
}

h2 {
  counter-reset: h3-counter;
}

.level2 {
  counter-increment: h2-counter;
  margin-top: 80px;
}

.level3 {
  margin-top: 45px;
}

h3::before {
  content: counters(h2-counter, ".") "." counters(h3-counter, ".") " ";
  padding-right: 10px;
}

h3 {
  counter-increment: h3-counter;
  counter-reset: h4-counter;
}

h4::before {
  content: counters(h2-counter, ".") "." counters(h3-counter, ".") "." counters(h4-counter, ".") " ";
  padding-right: 10px;
}

h4 {
  counter-increment: h4-counter;
}

h2, h3, h4 {
  text-align: center;
}

h2 {
  position: sticky;
  top: 0;
  background-color: white;
  height: 50px;
  line-height: 50px;
}

/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/


/*Images pour tutos*/
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
figure {
  display: contents;
}

img {
  max-width: 43em;
}

/*Position différente car la hauteur de l'image est différente*/
#actions-réalisées > p:first-of-type {
  text-align: center;
  position: relative;
  top: -30px;
}

#actions-réalisées figure ~ p {
  text-align: center;
  position: relative;
  top: -45px;
}

#actions-réalisées-1 > p:first-of-type {
  text-align: center;
  position: relative;
  top: -55px;
}

#actions-réalisées-1 figure ~ p {
  text-align: center;
  position: relative;
  top: -35px;
}

.grid-pics-odd > p:nth-child(3) {
  text-align: center;
  position: relative;
  top: -55px;
}

.grid-pics-even > p:nth-child(3) {
  text-align: center;
  position: relative;
  top: -20px;
}

#gestionnaire-de-paquets > p:nth-child(3) {
  text-align: center;
  position: relative;
  top: -35px;
}

#choix-des-logiciels-et-grub > p:nth-child(3) {
  text-align: center;
  position: relative;
  top: -35px;
}

#ouverture-du-port-3000 > p:nth-child(5) {
  text-align: center;
  position: relative;
  top: -55px;
}

#gestionnaire-de-paquet > p:nth-child(4) {
  text-align: center;
}

figcaption {
  display: none;
}
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/


/*Images groupés*/
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
.grid-pics > p:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-pics > p:nth-child(2) > img {
  max-width: 100%;
  max-height: 100%;
}

.grid-pics-odd > p:nth-child(2) > img:last-child {
  grid-column: 1 / span 2;
}
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/


/*Questions*/
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
.questions > ol {
  padding-left: 30px !important;
  background-color: rgba(255, 212, 191, 0.2);
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 10px;
}

.questions > ol[start] {
  margin-top: 45px;
}
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

pre {
  text-align: left;
  padding-left: 30px !important;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

pre * {
  color: white !important;
}

.footnotes {
  line-height: 1;
  font-size: 13px;
  margin-top: 100px;
}

.footnotes::before {
  content: "Références";
}

.footnotes li {
  text-align: left;
  padding-left: 20px;
}

.footnotes a {
  text-decoration: none;
  color: darkblue;
}

.footnotes a:hover {
  text-decoration: underline;
}

#lancement-automatique-de-gitea-au-démarrage ol li a {
  text-decoration: none;
  color: darkblue;
}

#lancement-automatique-de-gitea-au-démarrage ol li a:hover {
  text-decoration: underline;
}
